body{background:url(../../../../common/img/bg.png) no-repeat;background-size:cover;}
.widgetBox1_style .visual_login{position:absolute;top:200px;right:200px;}
/* .widgetBox1_style .visual_login{position:absolute;top:200px;left:50%;margin:0 0 0 -200px;} */

.visual_login{width:400px;background:#fff;border:1px solid #ddd;border-radius:2px;}
.visual_login .visual_login_user{padding:0;margin:0;}
.visual_login .layui-form-item{position:relative;}
.visual_login .layui-icon-username,.visual_login .layui-icon-password,.visual_login .layui-icon-vercode{position:absolute;left:15px;top:10px;}
.visual_login .layui-input{padding:0 0 0 45px;width:100%;height:38px;}
.visual_login .layui-btn{width:100%;}
.visual_login .visual_vercode_img{float:right;margin:5px 0 0 0;width:100px;height:38px;cursor:pointer;}
.visual_login .visual_vercode_btn{float:right;width:106px;}
.visual_login .layui-tab-brief{margin:15px 30px;}
.visual_login .layui-tab-title .layui-this{font-weight:bold;}
.visual_login .layui-tab-title li{font-size:16px;color:#7f7f7f;padding:0;margin:0 20px 0 0;}
.visual_login .layui-tab-content{padding:20px 0;margin:0;}
.visual_login .visual_password,.visual_login .visual_forget_password{color:#666;}
.visual_login .visual_password .layui-icon{margin:0;}
.visual_login .layui-form-item .layui-form-checkbox[lay-skin=primary]{height:20px!important;margin:0;}
.visual_login .visual_qr_tab1, .visual_login .visual_qr_tab2{float:right;margin:-15px 0 0 0;cursor:pointer;}
.visual_login .visual_qr_code{width:174px;height:174px;}
.visual_login .visual_qr_border{text-align:center;padding:15px;border:1px solid #ddd;width:203px;height:203px;margin:20px auto;}
.visual_login .visual_qr_container{text-align:center;}

/* .visual_login .layui-icon-login-wechat{color:#00c800;font-size:37px;padding:0 15px;cursor:pointer;}
.visual_login .layui-icon-login-qq{color:#329eec;font-size:37px;padding:0 15px;cursor:pointer;}
.visual_login .layui-elem-field,.visual_login .layui-elem-field legend{font-size:14px;text-align:center;margin:0;justify-content:center;}
.visual_login .layui-elem-field i{text-align:center;padding-bottom:0;} */