<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnetdata.msp.media.mapper.AccessStatMapper">

    <select id="stat" parameterType="hashmap" resultType="hashmap">
        select
            date_format(stat_time, #{statFormat}) as stat_type,
            sum(success_count) as success_count,
            sum(failure_count) as failure_count
        from jmeta_access_stat
        where stat_time &gt;= #{startTime}
        group by date_format(stat_time, #{statFormat})
    </select>
</mapper>
