<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnetdata.msp.media.mapper.StatisticsMapper">

	<!-- 新闻列表 -->
	<select id="selectPageXinwen" resultType="com.jnetdata.msp.media.vo.xinwenVo">

		SELECT *  FROM ( SELECT TMP_PAGE.*, ROWNUM ROW_ID FROM
		(
			SELECT t.*,
			(select count(*) from jmeta_xinwen_comment c where c.docid=t.id) as commentcount,
			(select count(*) from jmeta_xinwen_evaluate c where c.IDVALUE=t.id) as evaluatecount
			FROM jmeta_xinwen020 t where t.status='21' and t.docstatus='0'

			<if test="entity.title !=null and entity.title !=''">
				and t.title like CONCAT(CONCAT('%',#{entity.title}),'%')
			</if>
			order by t.crtime desc
		) TMP_PAGE) WHERE ROW_ID &lt;= #{max} AND ROW_ID > #{min}


	</select>

	<!-- 新闻数量 -->
	<select id="selectPageXinwenMaxCount" resultType="java.lang.Integer">
		select count(*) from jmeta_xinwen020 t where t.status='21' and t.docstatus='0'
	</select>


	<!-- 统计组织 -->
	<select id="tjgroup" resultType="java.util.Map">
		select i.groupname,count(*) as counts from groupinfo i
		inner join GRP_USER g on g.groupid=i.groupid
		inner join jmeta_xinwen_read r on g.userid=r.crnumber
		where r.docid=#{entity.id}
		group by i.groupname
	</select>

	<!-- 统计组织 -->
	<select id="tjgrouppl" resultType="java.util.Map">
		select i.groupname,count(*) as counts from groupinfo i
		inner join GRP_USER g on g.groupid=i.groupid
		inner join jmeta_xinwen_comment r on g.userid=r.crnumber
		where r.docid=#{entity.id}
		group by i.groupname
	</select>

	<!--统计年龄-->
	<select id="tjage" resultType="java.lang.Integer">
		select count(*) as counts from (
		SELECT ROUND((sysdate-to_date(substr(u.sfzh,4,8),'yyyy-MM-dd'))/365.2422) as age from lz_worker_dc_73 u
		where u.sfzh is not null and u.externalid in (select DISTINCT r.crnumber from jmeta_xinwen_read r where r.docid=#{entity.id})
		)t where t.age>=#{entity.min} and t.age&lt;#{entity.max}
	</select>

	<!-- 统计评论 -->
	<select id="tjcomment" resultType="java.util.Map">
		select to_char(c.crtime,'yyyy-MM-dd') as crtime,count(c.crtime) as counts from jmeta_xinwen_comment c
		where c.docid=#{entity.id}

		<if test="entity.statrdate!=null">
			and c.crtime >= #{entity.statrdate} and c.crtime &lt;= #{entity.enddate}
		</if>

		group by to_char(c.crtime,'yyyy-MM-dd')
	</select>

	<!-- 统计点赞 -->
	<select id="tjevaluate" resultType="java.util.Map">
		select to_char(c.crtime,'yyyy-MM-dd') as crtime,count(c.crtime) as counts from jmeta_xinwen_evaluate c
		where c.idvalue=#{entity.id}

		<if test="entity.statrdate!=null">
			and c.crtime >= #{entity.statrdate} and c.crtime &lt;= #{entity.enddate}
		</if>

		group by to_char(c.crtime,'yyyy-MM-dd')
	</select>

	<!-- 统计用户 -->
	<select id="tjuser" resultType="java.util.Map">
		select (select count(*) from userinfo u where u.status=0) as countall,
		(select count(*) from userinfo u where u.status=0 and u.crtime between #{entity.statrdate} and #{entity.enddate}) as countnew ,
		(select count(DISTINCT l.crnumber) from LOGININFO l where l.crtime between #{entity.statrdate} and #{entity.enddate}) as countlogin,
		 (select count(*) from userinfo u where u.status=0 and u.userid not in (select DISTINCT l.crnumber from LOGININFO l where l.crtime between #{entity.statrdate} and #{entity.enddate})) as countnologin
		 from dual
	</select>

	<!-- 统计活跃用户 -->
	<select id="tjhyuser" resultType="java.util.Map">
		select d.rcountlogin,CONCAT(ROUND(d.rcountlogin/d.countall*100,2),'%') as rbfb,
			d.zcountlogin,CONCAT(ROUND(d.zcountlogin/d.countall*100,2),'%') as zbfb,
			d.ycountlogin,CONCAT(ROUND(d.ycountlogin/d.countall*100,2),'%') as ybfb,
			d.countnologin from (select (select count(*) from lz_worker_dc_73 u ) as countall,
			(select count(DISTINCT l.crnumber) from LOGININFO l where l.crtime between #{entity.statrdate} and #{entity.enddate}) as rcountlogin,
			(select count(DISTINCT l.crnumber) from LOGININFO l where l.crtime between #{entity.statrdatez} and #{entity.enddatez}) as zcountlogin,
			(select count(DISTINCT l.crnumber) from LOGININFO l where l.crtime between #{entity.statrdatey} and #{entity.enddatey}) as ycountlogin,
			(select count(*) from lz_worker_dc_73 u where u.externalid not in (select DISTINCT l.crnumber from LOGININFO l)) as countnologin
		from dual) d
	</select>

	<!--根据时间查询投票人数数量-->
	<select id="voteUserCount" resultType="java.util.Map">
		select count(DISTINCT c.id) as counts from jmeta_vote_user c
		where

		<if test="entity.voteType == 'content'">
			c.votecontentid=#{entity.id}
		</if>

		<if test="entity.voteType != 'content'">
			c.voteid=#{entity.id}
		</if>

		and c.crtime between #{entity.statrdate} and #{entity.enddate}
	</select>

	<!-- 投票列表 -->
	<select id="selectPageVote" resultType="com.jnetdata.msp.tlujy.vote.model.Vote">
		SELECT *  FROM ( SELECT TMP_PAGE.*, ROWNUM ROW_ID FROM
		(
		select ID AS id,DOCCHANNELID AS docchannelid,DOCSTATUS AS docstatus,SINGLETEMPKATE AS singletempkate,SITEID AS siteid,DOCVALID AS docvalid,DOCPUBTIME AS docpubtime,OPERUSER AS operuser,OPERTIME AS opertime,DOCTITLE AS doctitle,DOCRELTIME AS docreltime,DOCPUBURL AS docpuburl,LINKURL AS linkurl,CLASSINFOID AS classinfoid,STATUS AS status,COMPANYID AS companyid,WEBSITEID AS websiteid,COLUMNID AS columnid,MODIFY_USER AS modifyUser,SEQENCING AS seqencing,FLOW_ID AS flowId,FLOW_USER AS flowUser,TITLE AS title,STARTDATE AS startdate,ENDDATE AS enddate,LIMITTYPE AS limittype,LIMITCOUNT AS limitcount,REMARKS AS remarks,PHOTO AS photo,STATE AS state,CRUSER AS crUser,CRNUMBER AS createBy,CRTIME AS createTime,modify_by AS modifyBy,modify_time AS modifyTime
		 from jmeta_vote v where v.state='1'

			<if test="entity.title !=null and entity.title!=''">
				and v.title like CONCAT(CONCAT('%',#{entity.title}),'%')
			</if>

		 order by (select count(*) from jmeta_vote_user u where u.voteid=v.id) desc
		) TMP_PAGE) WHERE ROW_ID &lt;= #{max} AND ROW_ID > #{min}
	</select>

	<!-- 投票数量 -->
	<select id="selectPageVoteMaxCount" resultType="java.lang.Integer">
		select count(*) from jmeta_vote v where v.state='1'

		<if test="entity.title !=null and entity.title!=''">
			and v.title like CONCAT(CONCAT('%',#{entity.title}),'%')
		</if>

	</select>

	<!-- 根据投票标题查询投票数量 -->
	<select id="selectTpCounts" resultType="java.lang.Integer">
		select count(1) from jmeta_vote_user j where j.voteid=#{voteid}
	</select>

	<!-- 根据投票标题查询投票人员 -->
	<select id="selectTpUserCounts" resultType="java.lang.Integer">
		select count(DISTINCT j.userid) from jmeta_vote_user j where j.voteid=#{voteid}
	</select>

	<!-- 根据投票详情查询投票数量 -->
	<select id="selectTpContentCounts" resultType="java.lang.Integer">
		select count(1) from jmeta_vote_user j where j.votecontentid=#{votecontentid}
	</select>

	<!-- 根据投票详情查询投票人员 -->
	<select id="selectTpContentUserCounts" resultType="java.lang.Integer">
		select count(DISTINCT j.userid) from jmeta_vote_user j where j.votecontentid=#{votecontentid}
	</select>

	<!-- 获取给投票标题投票的部门 -->
	<select id="votedepttj" resultType="java.util.Map">
		select dwmc,count(dwmc) as counts from jmeta_vote_user j
		inner join lz_worker_dc_73 u on j.crnumber=u.externalid
    	where j.voteid=#{entity.id} group by u.dwmc
	</select>

	<!-- 获取给投票内容投票的部门 -->
	<select id="voteContentdepttj" resultType="java.util.Map">
		select dwmc,count(dwmc) as counts from jmeta_vote_user j
		inner join lz_worker_dc_73 u on j.crnumber=u.externalid
		where j.votecontentid=#{entity.id} group by u.dwmc
	</select>

	<!-- 投票标题部门统计 -->
	<select id="votecommontj" resultType="java.util.Map">
		select j.title,j.id,(select count(1) from jmeta_vote_user u where u.votecontentid=j.id) as counts
		from jmeta_vote_content j where j.voteid=#{entity.id} order by (select count(1) from jmeta_vote_user u where u.votecontentid=j.id) desc
	</select>

</mapper>