<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnetdata.msp.dict3.wordname.mapper.DictSatisfiedLevelMapper">
  <resultMap id="BaseResultMap" type="com.jnetdata.msp.dict3.wordname.model.DictSatisfiedLevel">
    <!--@mbg.generated-->
    <!--@Table dict_satisfied_level-->
    <id column="kid" jdbcType="INTEGER" property="kid" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="descb" jdbcType="VARCHAR" property="descb" />
    <result column="crtime" jdbcType="TIMESTAMP" property="crtime" />
    <result column="crusr" jdbcType="VARCHAR" property="crusr" />
    <result column="optime" jdbcType="TIMESTAMP" property="optime" />
    <result column="opuser" jdbcType="VARCHAR" property="opuser" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    kid, `level`, descb, crtime, crusr, optime, opuser
  </sql>
</mapper>