.visual_row,.canEdit{border:none;}
/* .widgetTable_style,
.widgetTable_style a,
.widgetTable_style span,
.widgetTable_style th,
.widgetTable_style td,
.widgetTable_style select,
.widgetTable_style input,
.widgetTable_style button,
.widgetTable_style ul li a,
.widgetTable_style .layui-laypage .layui-laypage-skip{font-family:"微软雅黑";font-size:16px;color:#f00;} */