<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnetdata.msp.message.msg.mapper.MsgMapper">
    <select id="getInform"  resultType="com.jnetdata.msp.message.msg.model.Msg">
		SELECT
        id,
        xwid title,
        tablename AS content,
        crtime modifyTime,
        crtime sendtime,
        cruser,
        2 AS ADDRESSTYPE,
        isdisplay,
        cruser modifyUser,
        crtime createTime,
			case
         when exists ( SELECT readid FROM t_readuser bc WHERE bc.userid =#{msgVoEntity.id} and readid = t.id) then '1'  else '0'  end  as status,
        2 AS readstatus
        FROM
        t_network t
				 WHERE
        ((((
        conditionn = '小于'
        AND age > #{msgVoEntity.ageForBirthday}
        )
        OR ( conditionn = '大于等于' AND #{msgVoEntity.ageForBirthday}>=age )
        OR ( conditionn = '大于' AND #{msgVoEntity.ageForBirthday}>age )
        OR ( conditionn = '小于等于' AND age >= #{msgVoEntity.ageForBirthday} )
        OR ( conditionn = '等于' AND age = #{msgVoEntity.ageForBirthday} )
        OR ( conditionn = '介于区间' AND #{msgVoEntity.ageForBirthday}>=age AND AGEONE >= #{msgVoEntity.ageForBirthday} )
        OR ( conditionn IS NULL ))
        AND organizationid IN (${msgVoEntity.s1})
        AND ( education = #{msgVoEntity.educationbackground} OR ( education IS NULL ) )
        AND (
        politicsstatus = #{msgVoEntity.politicsstatus}
        OR ( politicsstatus IS NULL ))
        AND (
        ('admin' LIKE '%' || namee || '%' )
        OR ( namee IS NULL )))
        OR userid = #{msgVoEntity.id}
        )
        AND id NOT IN ( SELECT readid FROM t_readuser WHERE userid = #{msgVoEntity.id}  AND STATUS = 1 )
    </select>
    <select id="getInformm" resultType="com.jnetdata.msp.message.msg.model.Msg">
        SELECT
        bb.id,
        aa.title,
        aa.content,
        bb.modifyTime,
        bb.sendtime,
        bb.cruser,
        bb.addresstype,
        bb.isdisplay,
        bb.modifyUser,
        bb.crtime,
        bb.STATUS,
        1 AS readstatus,
        cruser sendUserName
        FROM
        (
        SELECT
        PARENTID,
        ADDRESSEE receptionId,
        SENDER sendID,
        NEWSID id,
        MODIFY_TIME modifyTime,
        sendtime,
        cruser,
        addresstype,
        isdisplay,
        MODIFY_USER modifyUser,
        crtime,
        STATUS
        FROM
        CUSTOMERNEWSLOG
        WHERE
        ADDRESSEE = #{msgVoEntity.id}
        AND isdisplay = 0
        ) bb
        JOIN (
        SELECT
        nrewstitle title,
        NEWSCONTEXT content,
        a.NEWSID NEWSID
        FROM
        CUSTOMERNEWSLOG a
        WHERE
        a.NEWSID IN ( SELECT PARENTID FROM CUSTOMERNEWSLOG WHERE ADDRESSEE = #{msgVoEntity.id}  AND isdisplay = 0 )) aa ON aa.NEWSID = bb.PARENTID
    </select>
</mapper>