<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
<modelVersion>4.0.0</modelVersion>

    <parent>
        <groupId>com.jnetdata.msp</groupId>
        <artifactId>jnetdata-msp-${package.PackageName}-parent</artifactId>
        <version>1</version>
    </parent>

    <artifactId>jnetdata-msp-${package.PackageName}</artifactId>
    <version>1.0.0</version>

    <dependencies>
        <dependency>
            <groupId>com.jnetdata.msp</groupId>
            <artifactId>jnetdata-msp-${package.PackageName}-api</artifactId>
            <version>1.0.0</version>
            <exclusions>
                <exclusion>
                    <groupId>com.baomidou</groupId>
                    <artifactId>mybatis-plus-annotation</artifactId>
                </exclusion>
            </exclusions>
        </dependency>

        <dependency>
            <groupId>com.jnetdata.msp</groupId>
            <artifactId>jnetdata-msp-common</artifactId>
            <version>${jnetdata-msp.version}</version>
            <exclusions>
                <exclusion>
                    <groupId>com.baomidou</groupId>
                    <artifactId>mybatis-plus-annotation</artifactId>
                </exclusion>
            </exclusions>
        </dependency>

        <dependency>
            <groupId>javax.servlet</groupId>
            <artifactId>servlet-api</artifactId>
        </dependency>

        <dependency>
            <groupId>org.projectlombok</groupId>
            <artifactId>lombok</artifactId>
        </dependency>


        <dependency>
            <groupId>org.thenicesys.store</groupId>
            <artifactId>thenicesys-store-test</artifactId>
        </dependency>

    </dependencies>

</project>
