.visual_menu .layui-nav-tree{position:absolute;top:0;left:0;bottom:0;}
.visual_menu .layui-nav-tree .layui-nav-child a{padding:0 0 0 30px;}
.visual_menu .layui-nav-tree .layui-nav-child .layui-nav-child a{height:30px;line-height:30px;font-size:12px;padding:0 0 0 40px;}